.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    font-size: 36px;
}

.header-text {
    display: flex;
    flex-direction: column;

}

.header-title {
    font-family: arial;
    text-transform: uppercase;
}

.header-description {
    font-family: arial;
    font-size: 20px;
    font-weight: 400;
}

.img-container {
    position: relative;
    width: 200px;
    height: 200px;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;


}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    width: 100vw;


}

section {
    margin: 0 auto;
}

.section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50vw;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid rgb(54, 69, 79);
    background: rgb(54, 69, 79, 0.7);
    font-family: arial;
}

.section-text:hover {
    background: rgb(54, 69, 79, 1);
    transition: all 0.2s ease-in-out;
}

.title {}

.description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 100px;
}

.link {
    color: white;
    font-size: 14px;
    text-decoration: none;
    background: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    align-self: center;
}

.link:hover {
    border: 1px solid white;
    transition: all .2s ease-in-out;
}